

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cutive+Mono&family=IBM+Plex+Mono:wght@100&family=Rubik+Mono+One&display=swap');




body {
    background-color: yellow ;
    margin: 0 px;
    font-family: 'Cutive Mono', monospace;
}


#pokedex {
   padding-inline-start: 0; 
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
   grid-gap: 30px;
}


.pokemon-container {
    padding: 40px;
    margin: 0 auto;
}



.card {
    list-style: none;
    padding: 50px;
    background-color: rgb(250, 250, 177);
    text-align: center;
    

}

.card-title {
    text-transform: uppercase;
    font-size: 30px;  
}

.card-text {
    color: grey;
}

.card-image {
    height: 100px;
}


.card-image:hover {
    animation: bounce 1s ease;
    
}

@keyframes bounce {
    20% {
        transform: translateY(-15px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(-0px);
    }
}

.popup {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

