
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,500;1,500&family=Cutive+Mono&family=IBM+Plex+Mono:wght@100&family=Rubik+Mono+One&display=swap');





body {
    background-image: url(images/pikachu\ bg.png);
    background-size:  80%;
    background-repeat: repeat space;
    margin: 0 px;
    font-family: 'Chakra Petch', sans-serif;
}


/* logo styling */

.logo {
    background-image: url(images/pikachu\ bg.png);
    background-size:  80%;
    background-repeat: repeat space;
    font-family: 'Chakra Petch', sans-serif;
    font-style: italic;
    text-align: center;
}

.logo h1 {
    font-weight: 600;
    font-size: 60px;
    text-shadow: 2px 2px lightpink;
}

.logo h3 {
    font-weight: 300;
    text-shadow: 1px 1px lightpink;
}

/* search/filter styling */

.search-container, 
.search-bar {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 10px;
    margin: 20px 30px;
}

.search-bar,
.search-input {
    position: relative;
    background-color: var(--grayscale-white);
    border-radius: 20px;
    border-style: groove;
    border-color: salmon;
    opacity: 0.6;
    box-shadow: var(--drop-shadow-inner);
    height: 40px;
    gap: 8px;
    font-style: italic;
    font-size: larger;
    font-weight: 700;
}

.search-input:focus {
    outline: none;
    caret-color: rgb(250, 128, 114);
    color: rgb(184, 91, 80);
    opacity: 100%;
}

.search-icon {
    margin-left: 40px;
    opacity: 0.5;
}


.search-bar > input {
    width: 70%;
    border: none;
}

.search-close-icon {
    margin-left: 150px;
    opacity: 0.4;
}

/* sort icon- filter name/number styling */

.sort-container {
    position: relative;
}

.sort-div {
   
    min-width: 2rem;
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}




.filter-container {
    position: relative;
    border-top: 0;
    padding: 8px 8px 8px 8px;
    right: 0px;
    min-width: 113px;
    top:20px;
    display: none;
    font-weight: 500;
}

.filter-container-open {
    display: block;
}

.filter-wrapper-overlay .main::before {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.filter-container div {
    padding: 0;
}
/* filter poke types styling */



.types-container img {
    margin: 2px;
    width: 60px;
    height: 25px;
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
}

.types-container img:hover {
    transform: scale(1.3);
    margin-right: 10px;
    margin-left: 10px;
}

.types-container p {
    font-style: italic;
    font-weight: bolder;
}


  
/* main layout */

#pokedex {
   padding-inline-start: 0; 
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
   grid-gap: 40px;
}


.pokemon-container {
    padding: 40px;
    margin: 0 auto;
    background-image: url(images/pikachu\ bg.png);
    background-size:  80%;
    background-repeat: repeat space;
}


/* pokemon card styling */

.card {
    list-style: none;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 10px;
    border-style: double;
    border-radius: 40px;
}

.card-title {
    text-shadow: 1px 1px lightpink; 
}

.id-tag {
    font-style: italic;
    font-size:20px;
    
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 1px 1px lightpink;
}

.card-title {
    text-transform: uppercase;
    font-size: 30px;  
}

.card-text {
    color: grey;
}

.card-image {
    height: 100px;
}


.card-image:hover {
    animation: bounce 0.6s infinite alternate;
    
}


.likeButton{
    font-size: larger;
    height: 50px;
    width: 80px;
}



@keyframes bounce {
    20% {
        transform: translateY(-15px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(-0px);
    }
}

.popup {
    display: grid;
    margin: auto;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background:rgb(255, 255, 255);
    opacity: 0.95;
}

#closeBtn {
    width: 20%;
    position: relative;
    border-radius: 0.75rem;
    margin: 0 auto;
    margin-bottom: 100px;
    border-color: beige;

}

#closeBtn:hover {
    background-color: rgb(242, 181, 181);
}

.popup .card {
    border: 0px;
}


.popup .card small {
    font-weight: bolder;
    word-spacing: 1em;
    
}

.pokemon-description {
    font-style: italic;
    padding-top: 20px;
}

/* error msg */

#error-message {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: larger;
    padding-top: 20px;
    background-image: url(images/pikachu\ bg.png);
    background-size:  80%;
    background-repeat: repeat space;
}

#error-message img {
    height: 20%;
    width: 20%;
}

/* footer */

.footer {
    display: block;
    text-align: center;
    background-image: url(images/pikachu\ bg.png);
    background-size:  80%;
    background-repeat: repeat space;
}

.footer-name {
    font-size: larger;
    font-style: italic;
    font-weight: 700;
    text-shadow: 1px 1px salmon;
}

.footer a:not(.pokeApi)  {
    color: black;
    font-size: smaller;
    word-spacing: 30px;
    
}
footer a:link {
    text-decoration: none;
}

.pokeApi {
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 2px 2px salmon;
    color: black;
}

.pokeApi:link {
    text-decoration: none;
}